#search-container {

  ul {
    list-style: none;
    padding-left: 0;

    a {
      text-decoration: none;
      color: #333;
    }

    .result-detail {
      display: block;
      width: 100%;
      height: 1.2em;
      font-size: 0.8em;
      position: relative;
      margin-bottom: 22px;
      padding-bottom: 40px;
      border-bottom: 1px solid #E7E7E7;
      color: #838383;

      span {
        float: left;
      }

      ul {
        padding-left: 0;
        position: relative;
        float: right;
        li {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }

  }

}
