#tags-input-container {

  #search-input {
    margin: 0;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    border: none;
    background-color: transparent;
    font-size: 1.1em;
  }

  #search-input:focus {
    outline: none;
  }

  ul#search-suggest {

    box-shadow: 0px 1px 4px rgba(158, 158, 158, 0.56);
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;

    li button {
      text-align: left;
      width: 100%;
      height: 3em;
      border:none;
      background-color: transparent;
      border-top: 1px solid #F4ECEC;
    }

    li {
      z-index: 3;
      transition: box-shadow 150ms cubic-bezier(0.47, 0, 0.745, 0.715);
    }

    li:hover {
      z-index: 4;
      box-shadow: 0px 2px 3px #8E8C8C;
    }
  }
}
